# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore mvc template project
src/main/java/it/unibo/mvc
.LCK*

# Ignore all generated latex files except the source tex, output pdf and svg/md files
report/*
!report/report.tex
!report/report.pdf
!report/svg
!report/md